body {
    background-color: rgb(128, 88, 4);
    color: rgb(245, 22, 22);
}
.logo {
    max-width:100px;
    min-width:60px;
    padding:10px;

    }
.page-header {
    background-color: rgb(49, 224, 122);
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}
.navigation a {
    color:black;
    text-decoration:none;
    padding:15px;
    font-size:130%;

}
.navigation {
    display: flex;
}